<% if @grant.errors.any? %>
  <div>
    <div>
      Please correct the following <%= pluralize(@grant.errors.count, "error") %>.
    </div>
    <ul>
    <% @grant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>