.row
  .twelve.columns
    %h3
      = @grant.name
.row
  .twelve.columns
    %p
      = @grant.description
.row
  .twelve.columns
    %p
      More information coming soon...
.row
  .twelve.columns
    %ul
      %li
        = link_to 'Apply for this grant', new_grant_application_path(@grant)
      %li
        = link_to 'Back', root_path