.row
  .twelve.columns
    %h3
      = @grant.name
.row
  .twelve.columns
    %p
      = @grant.description
.row
  .twelve.columns
    %p
      More information coming soon...
.row
  .twelve.columns
    %ul
      %li
        Apply for this grant
      %li
        = link_to 'Back', root_path