.twelve.columns
  .row
    %h3
      = @grant.name
  .row
    %p
      = @grant.description
  .row
    %p
      More information coming soon...
  .row
    %ul
      %li
        Apply for this grant
      %li
        = link_to 'Back', root_path