.row
  .twelve.columns
    %h3
      Organization: #{@organization.name}
    %p
      = link_to 'Edit Organization', edit_organization_path(@organization)
    %table.twelve
      %tbody
        %tr
          %td
            EIN/TIN
          %td
            = @organization.ein
        %tr
          %td
            DUNS number
          %td
            = @organization.duns          
    